$breakpoint-tablet: 768px;
$breakpoint-desktop: 800px;

header.header {
 
  nav.navbar {
    
    img {
      /* Original 325 x 131 */
      width: 146.25px;
      height: 58.95px;
    }

    width: 100%;
    height: var(--menu-height);
    padding: 0 var(--container-padding) 0;

    position: fixed;
    top: 0;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #efefef;
    border-bottom: var(--color-primary) 3px solid;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }

    .navMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navItem {
        margin-left: 5rem;
    }

    .navLink{
        font-size: 1.4rem;
        font-weight: 400;
        color: #475569;
    }

    .navLink {
      &.active, &:hover:not(.active) {
        border-bottom: var(--color-primary) .2rem solid;
        color: var(--color-primary);
      }
    }


        
    li {
      a {
        padding: 1.3rem 0;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
       
  }

  @media (max-width: $breakpoint-tablet) {

    nav.navbar {

      .navMenu {
        background-color: #fff;
        position: fixed;
        left: -100%;
        top: var(--menu-height);
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
      }

      .navMenu.active {
          left: 0;
      }

      .navItem {
          margin: 2.5rem 0;
      }

      .hamburger {
          display: block;
          cursor: pointer;
      }
      
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  
  @media (min-width: $breakpoint-tablet) {

    .hamburger {
      display: none;
    }

  }

}

