$breakpoint-tablet: 768px;
$breakpoint-desktop: 800px;

.home {
  background: url(../../public/images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  // justify-content: space-around;
  flex-direction: column;
  
  padding-top: var(--menu-height);
  
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    p:first-child {
      padding: 0 var(--container-padding);
      
      background: #fff;

      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20vh;
      margin: 0;
      font-size: 1.6rem;
      text-align: justify;
      font-weight: 300;
    }
  }
  div:first-child {
    padding: 0 var(--container-padding);

    background: rgba($color: #fff, $alpha: .8);

    height: 80vh;

    display: flex;
    
    align-items: center;
    justify-content: space-around;
    @media (max-width: $breakpoint-tablet) { 
      flex-direction: column; 
      justify-content: center;
    }
    
    color:#444;

    border-bottom: solid 1px rgb(241, 241, 241);

    h1 {
      width: 500px;
      @media (max-width: $breakpoint-tablet) { 
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
  p {
    width: 100%;
    text-align: justify;
  }
}