@import '../../styles/variables';

section.contact {
  height: 100vh;

  min-height: 700px;

  background: url(../../public/images/contact-us.jpg);
  background-size: 200%;
  background-position: right;

  display: flex;
  align-items: start;
  justify-content: space-between;

  h2 {
    font-size: 3rem;
    font-family: 'Aniron';
    padding-bottom: 3rem;
    text-align: center;
  }
  
  form {

    font-family: "Cafe";
    font-size: 2rem;

    height: 100%;
    width: 100%;
    padding: $menu-height $container-padding 0;

    color: #777;
    
    label {
      margin: 10px 10px 5px;
      display: block;
      font-weight: 300;
    }
    input, textarea {
      color: #777;
      
      padding: 10px;
      width: 100%;
      background: rgba(#fff, .4);
      border: solid 1px #aaa;
      border-radius: 5px;
    }
    textarea {
      height: 100px;
    }
  }

  @media (max-width: $breakpoint-tablet) { 

    form {
      background-color: rgba(#fff, .8);
    }
    background-size: auto;
  }

}
