@media (min-width: 601px) {
    ul {
        position: fixed;
        top: 0;
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        box-shadow: #aaa 1px 1px 2px;
        padding: 0 5%;
        box-sizing: border-box;
    }

    li.logo {
        float: left;
        width: 150px;
    }

    li img {
        width: 100%;
    }
    
    li:not(.logo) {
        float: right;
    }
    
    li:not(.logo) a {
        display: block;
        text-align: center;
        padding: 24px 16px;
        text-decoration: none;
    }

}