:root {  
  --color-primary: #e7c36b;
  
  --menu-height: 5.6rem;
  --container-padding: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  
  body {
    font-size: 1.6rem;
  }
}

li {
  list-style: none;
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}